{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'party_css/style.css' %}">
    <title>Organize Party</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">SPMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/coursePage">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/compPage">Competitions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/partyPage">Organise Party</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/suggestionPortal">Suggestions</a>
            </li>
        </ul>
        <ul class="navbar-nav nav justify-content-end">
            <li class="nav-item">
                {% if request.user != null and request.user.username != "" %}
                    <a class="nav-link" aria-current="page" href="/login/logout">Logout</a>
                {% else %}
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.user != null and request.user.username != "" %}
                    <a class="nav-link" aria-current="page" href="/userPortal">Hello, {{ request.user.username }}</a>
                {% else %}
                    <a class="nav-link" aria-current="page" href="/signUp">Sign-Up</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>   <!-- navbar ends -->

<div class="wrapper" style="background: #74cfbf;">
    <!-- Message Code -->
    <script>
        window.onload = function () {
            document.getElementById("modalbtn").click();
        }
    </script>
    <button type="button" id="modalbtn" class="btn btn-primary btn-lg" data-toggle="modal"
            data-target="#myModal" hidden>
        Display MSG
    </button>
    {% if messages %}
        <!-- Modal -->
        {% for msg in messages %}
            {% if msg.tags == "custom info" %}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel"></h4>
                                <p>{{ msg }}</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="inner">
        <div class="image-holder">
            <img src="../../static/party_images/image2.jpg" alt="">
        </div>
        <form method="POST">
            {% csrf_token %}
            <h3>Registration Form</h3>
            <div class="form-group">
                <input name="first_name" type="text" placeholder="{{ request.user.first_name }}" class="form-control"
                       readonly required="required">
                <input name="last_name" type="text" placeholder="{{ request.user.last_name }}" class="form-control"
                       readonly required="required">
            </div>
            {% if USER.phone_num == 0000000000 or USER.phone_num is None %}
                <div class="form-wrapper">
                    <input name="phone_number" type="tel" placeholder="Phone number Eg: 1234567899" class="form-control"
                           required="required" pattern="^\d{10}$">
                </div>
            {% else %}
                <div class="form-wrapper">
                    <input name="phone_number" type="tel" placeholder="Phone number: {{ USER.phone_num }}"
                           class="form-control" required="required" readonly pattern="^\d{10}$">
                </div>
            {% endif %}
            {% if USER.aCardNum == 0 %}
                <div class="form-wrapper">
                    <input name="aadhar_number" type="number" placeholder="Aadhar Card Number" class="form-control"
                           required="required" pattern="^\d{12}$">
                </div>
            {% else %}
                <div class="form-wrapper">
                    <input name="aadhar_number" type="number" placeholder="Aadhar: {{ USER.aCardNum }}"
                           class="form-control" required="required" readonly pattern="^\d{12}$">
                </div>
            {% endif %}
            <div class="form-wrapper">
                <select name="slot_date" id="" class="form-control">
                    <option disabled selected>Select date</option>
                    {% for slot in events2 %}
                        <option>{{ slot.Date }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <input name="start_time" id="start_time" type="time" placeholder="From (Eg: 18:30) "
                       class="form-control" required="required" min="18:00" max="21:30">
                <input name="end_time" id="end_time" type="time" placeholder="To (Eg: 20:30) " class="form-control"
                       required="required" min="19:00" max="22:30">
            </div>
            <br>
            <div class="form-wrapper">
                <select name="" id="" class="form-control">
                    <option value="" disabled selected>Committee list</option>
                    {% for obj in committee %}
                        <option name="coordinator_name">{{ obj.first_name }} {{ obj.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-wrapper">
                Maximum Number of people allowed: 150 <br>
                Party timings can only be from 6 PM to upto 10:30 PM.
            </div>
            <button id="myButton" type="Submit">Register
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    document.getElementById("start_time").onchange = function () {
        var input = document.getElementById("end_time");
        input.setAttribute("min", this.value)
    };
</script>
</body>
</html>
